<div class="jumbotron">
  <h1>Rails Tic Tac Toe</h1>
</div>
<div class="container">
      <div class="spot col-left row-top" data-coordinates="a0"><h1 id="a0" ></h1></div>
      <div id="a1" class="spot col-middle row-top" data-coordinates="a1"><h1 id="a1" ></h1></div>
      <div id="a2" class="spot col-right row-top" data-coordinates="a2"><h1 id="a2" ></h1></div><br>
      <div id="b0" class="spot col-left row-middle" data-coordinates="b0"><h1 id="b0" ></h1></div>
      <div id="b1" class="spot col-middle row-middle" data-coordinates="b1"><h1 id="b1" ></h1></div>
      <div id="b2" class="spot col-right row-middle" data-coordinates="b2"><h1 id="b2" ></h1></div><br>
      <div id="c0" class="spot col-left row-bottom" data-coordinates="c0"><h1 id="c0" ></h1></div>
      <div id="c1" class="spot col-middle row-bottom" data-coordinates="c1"><h1 id="c1" ></h1></div>
      <div id="c2" class="spot col-right row-bottom" data-coordinates="c2"><h1 id="c2" ></h1></div>
</div>

<script type="text/javascript">
  var player = "<%=  %>"
</script>
