<div class="jumbotron">
  <h1>Rails Tic Tac Toe</h1>
</div>
<div class="container">
      <div class="spot col-left row-top" data-moves="1"><h1 id="1" ></h1></div>
      <div class="spot col-middle row-top" data-moves="2"><h1 id="2" ></h1></div>
      <div class="spot col-right row-top" data-moves="3"><h1 id="3" ></h1></div><br>
      <div class="spot col-left row-middle" data-moves="4"><h1 id="4" ></h1></div>
      <div class="spot col-middle row-middle" data-moves="5"><h1 id="5" ></h1></div>
      <div class="spot col-right row-middle" data-moves="6"><h1 id="6" ></h1></div><br>
      <div class="spot col-left row-bottom" data-moves="7"><h1 id="7" ></h1></div>
      <div class="spot col-middle row-bottom" data-moves="8"><h1 id="8" ></h1></div>
      <div class="spot col-right row-bottom" data-moves="9"><h1 id="9" ></h1></div>
</div>

<script type="text/javascript">
  var id = "<%= @game.id %>"
</script>
